/* ===========================================
                    SCROLL
=========================================== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: padding-box;
  background-color: #a0a0a0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

