/* --- VARIABLES --- */
button {
  --btn-action-1-bg-color: #494bb5;
  --btn-action-1-padding: 6px 14px;
  --btn-action-1-border-radius: 4px;
  --btn-action-1-font-size: 0.85rem;
  --btn-action-1-font-weight: 600;
  --btn-action-1-color: #000;
  --btn-action-1-hover-bg-color: #383a95;
}



/* --- BASIC STYLES --- */
button {
  max-width: 100%;
  background: var(--btn-action-1-bg-color);
  padding: var(--btn-action-1-padding);
  border-radius: var(--btn-action-1-border-radius);
  border: none;
  font-family: inherit;
  font-size: var(--btn-action-1-font-size);
  font-weight: var(--btn-action-1-font-weight);
  color: var(--btn-action-1-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background: var(--btn-action-1-hover-bg-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(73, 75, 181, 0.3);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}